venv/
.idea/DOPAssignment.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
server/__pycache__/config.cpython-310.pyc
server/__pycache__/config.cpython-313.pyc
server/__pycache__/db.cpython-310.pyc
server/__pycache__/db.cpython-313.pyc
server/controllers/__pycache__/authentication_controller.cpython-313.pyc
server/controllers/__pycache__/student_controller.cpython-310.pyc
server/controllers/__pycache__/student_controller.cpython-313.pyc
server/models/__pycache__/admin_model.cpython-313.pyc
server/models/__pycache__/student_model.cpython-313.pyc
server/routes/__pycache__/authentication_routes.cpython-313.pyc
server/routes/__pycache__/student_routes.cpython-310.pyc
server/routes/__pycache__/student_routes.cpython-313.pyc
