<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Student</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/editStudent.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <form id="edit-student-form">
      <h1>Edit Student</h1>
      <div class="input-container">
        <div>
          <div class="form-group">
            <label for="studentid">Student ID:</label>
            <input
              type="text"
              class="form-control"
              id="studentid"
              name="studentid"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <div class="form-group">
            <label for="diplomaofstudy">Diploma of Study:</label>
            <input
              type="text"
              class="form-control"
              id="diplomaofstudy"
              name="diplomaofstudy"
              required
            />
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="yearofentry">Year of Entry:</label>
            <input
              type="number"
              class="form-control"
              id="yearofentry"
              name="yearofentry"
              required
            />
          </div>
          <div class="form-group">
            <label for="emailaddress">Email Address:</label>
            <input
              type="email"
              class="form-control"
              id="emailaddress"
              name="emailaddress"
              required
            />
          </div>
          <div class="form-group">
            <label for="points">Points:</label>
            <input
              type="number"
              class="form-control"
              id="points"
              name="points"
              required
            />
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function getQueryParams() {
          const params = {};
          const queryString = window.location.search.substring(1);
          const queryArray = queryString.split("&");
          queryArray.forEach((param) => {
            const [key, value] = param.split("=");
            params[key] = decodeURIComponent(value);
          });
          return params;
        }

        const queryParams = getQueryParams();
        const studentid = queryParams.studentid;
        let password = "";
        fetch(`/devopsassignment1/students/${studentid}`)
          .then((response) => response.json())
          .then((data) => {
            data = data[0]
            password = data["password"];
            document.getElementById("studentid").value = data['studentid'];
            document.getElementById("password").value = "";
            document.getElementById("username").value = data["username"];
            document.getElementById("diplomaofstudy").value = data["diplomaofstudy"];
            document.getElementById("yearofentry").value = data["yearofentry"];
            document.getElementById("emailaddress").value = data["emailaddress"];
            document.getElementById("points").value = data["points"];
          })
          .catch((error) =>
            console.error("Error fetching student data:", error)
          );

        document
          .getElementById("edit-student-form")
          .addEventListener("submit", function (event) {
            event.preventDefault();
            const data = {
              studentid: document.getElementById("studentid").value,
              username: document.getElementById("username").value,
              password: document.getElementById("password").value === "" ? password : document.getElementById("password").value,
              diplomaofstudy: document.getElementById("diplomaofstudy").value,
              yearofentry: document.getElementById("yearofentry").value,
              emailaddress: document.getElementById("emailaddress").value,
              points: document.getElementById("points").value,
            };

            fetch(`/devopsassignment1/students/${studentid}`, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            })
              .then((response) => response.json())
              .then((result) => {
                if (result.success) {
                  alert("Student updated successfully!");
                } else {
                  alert("Failed to update student.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred while updating the student.");
              });
          });
      });
    </script>
  </body>
</html>
